@model IEnumerable<ASP_MVC_SitePandas.Models.Evenement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-pencil"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-trash"></span></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-eye"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
