@model ASP_MVC_SitePandas.Models.Educatrice;
@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Voulez-vous vraiment supprimer cette éducatrice?</h3>
<div>
    <h4>Personnes autorisés</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(e => e.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(e => e.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(e => e.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(e => e.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(e => e.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(e => e.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(e => e.DateDeNaissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(e => e.DateDeNaissance)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        |<a asp-action="Index">Back to List</a>
    </form>
</div>