@model IEnumerable<ASP_MVC_SitePandas.Models.AllergiesEnfant>
@{
    ViewData["Title"] = "Index";
}

<h1>Liste des allergies</h1>
<p>
    <a asp-action="Create" class="btn" style="background-color:limegreen">ajouter</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>Allergie</th>
            <th>Intervention</th>
            <th>Enfant</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Allergie.Nom.ToString()</td>
                <td>@item.Intervention</td>
                <td>@(item.Enfant.Prenom.ToString() + " " + item.Enfant.Nom.ToString())</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-pencil"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-trash"></span></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><span style="color:limegreen" class="fa fa-eye"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
